button {
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
  -webkit-box-shadow: inset 0 0 0 8px #93A9CC;
          box-shadow: inset 0 0 0 8px #93A9CC;
  color: #93A9CC;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

button::before, button::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.draw::before, .draw::after {
  border: 8px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover {
  color: #f45e61;
}

.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: #f45e61;
  border-right-color: #f45e61;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
  border-bottom-color: #f45e61;
  border-left-color: #f45e61;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover {
  color: #f45e61;
}

.meet::after {
  top: 0;
  left: 0;
}

.meet:hover::before {
  border-top-color: #f45e61;
  border-right-color: #f45e61;
}

.meet:hover::after {
  border-bottom-color: #f45e61;
  border-left-color: #f45e61;
  -webkit-transition: height 0.25s ease-out,
 width 0.25s ease-out 0.25s;
  transition: height 0.25s ease-out,
 width 0.25s ease-out 0.25s;
}
.center{
  background-color: white;
}
.center:hover {
  color: #f45e61;
}

.center::before, .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.center::before {
  border-top: 9px solid #f45e61;
  border-bottom: 9px solid #f45e61;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}

.center::after {
  border-left: 9px solid #f45e61;
  border-right: 9px solid #f45e61;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
}

.center:hover::before, .center:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.spin {
  width: 100%;
  height: 100%;
  padding: 0;
}

.spin:hover {
  color: #f45e61;
}

.spin::before, .spin::after {
  top: 0;
  left: 0;
}

.spin::before {
  border: 8px solid transparent;
}

.spin:hover::before {
  border-top-color: #f45e61;
  border-right-color: #f45e61;
  border-bottom-color: #f45e61;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.spin::after {
  border: 0 solid transparent;
}

.spin:hover::after {
  border-top: 8px solid #f45e61;
  border-left-width: 8px;
  border-right-width: 8px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: border-left-width 0s linear 0.4s,
 -webkit-transform 0.45s linear 0s;
  transition: border-left-width 0s linear 0.4s,
 -webkit-transform 0.45s linear 0s;
  transition: transform 0.45s linear 0s,
 border-left-width 0s linear 0.4s;
  transition: transform 0.4s linear 0s,
 border-left-width 0s linear 0.4s,
 -webkit-transform 0.45s linear 0s;
}

.circle {
  border-radius: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.circle::before, .circle::after {
  border-radius: 100%;
}

.thick {
  color: #f45e61;
}

.thick:hover {
  color: #fff;
  font-weight: 700;
}

.thick::before {
  border: 100px solid transparent;
  z-index: -1;
}

.thick::after {
  mix-blend-mode: color-dodge;
  z-index: -1;
}

.thick:hover::before {
  background: #f45e61;
  border-top-color: #f45e61;
  border-right-color: #f45e61;
  border-bottom-color: #f45e61;
  -webkit-transition: background 0s linear 0.4s,
 border-top-color 0.15s linear,
 border-right-color 0.15s linear 0.15s,
 border-bottom-color 0.15s linear 0.25s;
  transition: background 0s linear 0.4s,
 border-top-color 0.15s linear,
 border-right-color 0.15s linear 0.15s,
 border-bottom-color 0.15s linear 0.25s;
}

.thick:hover::after {
  border-top: 100px solid #f45e61;
  border-left-width: 2.5em;
  border-right-width: 2.5em;
}

/* Page styling */

/*# sourceMappingURL=styles.css.map */